@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
  font-family: 'Share Tech', sans-serif;
}

body {
  margin: 0;
  background-image: url(/src/Assets/Cover/cityconnectblue.jpg);
}

.header {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  letter-spacing: 4px;
}

div {
  color: white;
}

.david {
  width:57%;
  border-radius: 30px;
  font-size: x-large;
  margin-top: 20px;
}

.container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  width: 45%;
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.tiles1 {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  left: 10%;
}

.icon {
  height: 110px;
  width: 110px;
  margin: 8px 0 8px 0;
}

.iconlist {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 40%;
}

.icon img:after {
  content: '';
  position: absolute;
  background-color: orange;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.icon img:hover:after {
  width: 20%;
}

.card p {
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  width: 80%;
  padding-top: 15px;
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

nav a:after {
  content: '';
  position: absolute;
  background-color: orange;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

nav a:hover:after {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
}

.container {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.2);
  margin-top: 10px;
  padding-bottom: 12px;
}

.errorpage {
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
}

.errorpage a {
  position: relative;
}

.dustin a {
  float: left;
  position: relative;
}

.error {
position: absolute;
top: 20%;
}

.quote {
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
font-size: xx-large;
}

/* Portfolio Styling */
.container2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  height: 450px;
}

.card2 {
height: 225px;
color: beige;
width: 30%;
margin: auto;
border: 5px;
border-color: orange;
}

/* footer {
  background-image: url(/src/Assets/Cover/cityconnectnav.jpg);
  background-size: 100% 30px 30px;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
