@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.App {
  width: 100vw;
  height: 100vw;
}

:root {
  font-family: 'Share Tech', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/src/Assets/Cover/cityconnectblue.jpg);
}

.header {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  letter-spacing: 4px;
}

div {
  color: white;
}

/* About Component Styling START */

.david {
  width:57%;
  border-radius: 30px;
  font-size: x-large;
  margin-top: 10px;
}

.david img {
  width: 100%;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  width: 45%;
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.bio p{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.tiles1 {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  left: 10%; 
}

.icon {
  height: 110px;
  width: 110px;
  margin: 8px 0 8px 0;
}

.iconlist {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 40%;
}

.icon img:after {
  content: '';
  position: absolute;
  background-color: orange;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.icon img:hover:after {
  width: 20%;
}

.card p {
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  width: 80%;
  padding-top: 15px;
}

/* About Component Styling END */

/* Nav Component Styling START */

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

nav a:after {
  content: '';
  position: absolute;
  background-color: orange;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

nav a:hover:after {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
}

.container {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.2);
  margin-top: 10px;
  padding-bottom: 12px;
}

/* Nav Component Styling END */

/* Error Page Styling START */

.errorpage {
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
}

.errorpage a {
  position: relative;
}

.dustin a {
  float: left;
  position: relative;
}

.error {
position: absolute;
top: 20%;
}

.quote {
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
font-size: xx-large;
}

/* Error Page Styling END */

/* Portfolio Styling START */

.icon2 {
  height:60px;
  width: 60px;
  border-radius: 30px;
  border-width: 30px;
  border: solid;
  border-color: orange;
  background-color: transparent;
  position: relative;
  bottom: 15px;
}

.icon2:hover {
  background-color: orange;
  transition: 0.3s;
}

.btnboard {
  display: flex;
  justify-content: space-between;
  bottom: 0%;
  margin: 10px;
  position: relative;
  bottom: -37px;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  margin: 20px auto;
}

.cardtitle {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

.cardtitle h2{
  justify-content: space-around;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  width: 65%;
  border-radius: 20px;
  color: white;
  position: relative;
  bottom: -32px;
  border: solid;
  border-width: 3px;
  border-color: orange;
}

.cardtitle h2:hover {
  background-color: orange;
  transition: 0.3s;
}

.card2 {
flex-direction: column;
justify-content: space-evenly;
height: 250px;
color: beige;
width: 30%;
margin: 10px auto;
border: 30px;
border-color: orange;
border-radius: 30px;
box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.card2 div {
  border-width: 5px;
  border-color: orange;
}

.box1 {
  background-image: url(/src/Assets/Images/cherry-picker.png);
  background-size: 460px;
}
.box2 {
  background-image: url(/src/Assets/Images/gopher-hook.png);
  background-size: 600px;
}
.box3 {
  background-image: url(/src/Assets/Images/gopher1.png);
  background-size: 500px;
}
.box4 {
  background-image: url(/src/Assets/Images/Social-API.gif);
  background-size: 520px;
}
.box5 {
  background-image: url(/src/Assets/Images/Tech-Blog.png);
  background-size: 500px;
}
.box6 {
  background-image: url(/src/Assets/Images/Employee-Tracker.png);
  background-size: 480px;
}

/* Portfolio Styling END */

/* Resume Styling START */

.container3 {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 20px auto;
}

.iconlist2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.card3 {
  display: flex;
  justify-content: center;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.resume {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.resume nav {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.resume nav a {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.resume span {
  color: orange;
}

.card3 h2 {
  font-size: xx-large;
}

.resume div {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icon3 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 20px auto;
}

.icon4 {
  width: 150px;
  height: 150px;
  margin: auto;
}

.skills {
  word-spacing: 6px;
}

.skills span {
  color: orange;
}

/* Resume Component Styling END */

/* Contact Component Styling START */

.container4 {
  display: flex;
  justify-content: center;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.container4 form {
  width: 80%;
}

.tiles4 nav {
  display: flex;
  justify-content: flex-start;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact-form h2 {
  display: block;
  justify-content: center;
  text-align: center;
  font-size: x-large;
  margin: 10px auto;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.form-group h2 {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.form-group input {
  border-radius: 10px;
  height: 40px;
  width: 70%;
  font-family: 'Share Tech', sans-serif;
  font-size: x-large;
  margin: 2px auto;
}

.form-group textarea {
  border-radius: 10px;
  font-size: x-large;
  font-family: 'Share Tech', sans-serif;
  margin: 2px;
}

.btn {
  margin: 20px auto;
  height: 75px;
  width: 200px;
  font-size: large;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: orange;
  border: none;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  cursor: pointer;
}

.tiles2 {
  display: flex;
  justify-content: center;
}

.tiles2 a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: -10px;
  margin: 0 auto;
}

.tiles2 span {
  display: flex;
  justify-content: center;
  margin: auto 10px;
}

.reachout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

h2.cardtitle4 {
  color: orange;
  font-size: xx-large;
}

.reachout h2 {
  justify-content: center;
  display: block;
  text-align: center;
  font-size: xx-large;
  color: orange;
  margin: 10px auto;
}

.iconlist2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 80%;
}

.icon5 {
  height: 90px;
  width: 90px;
  margin: 6px auto;
}

/* Contact Component Styling END */

/* Responsive Navbar Styling START */
.renav.links {
  display: flex;
}

.renav #hidden {
  display: flex;
}

/* .renav button {
  display: none;
} */

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
  outline: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}
/* Responsive Navbar Styling END */

/* Baseball Animation START */
.balltrack {
  display: block;
  width: 100%;
  height: auto;
}

.baseball {
  width: 30px;
  height: 30px;
  border-radius:50%;
  border: 1px solid black;
  background-color: white;
  position: relative;
  animation: baseball 11s ease-in-out, spin 2.5s linear;
  animation-iteration-count: infinite;
}

.baseball img {
  transform: rotate(360deg);
  animation-iteration-count: infinite;
}
/* Baseball Animation END */

@media all and (max-width: 500px) {
  .container2 {
    display: block;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .card2 {
    width: 95%;
    margin: 20px auto;
  }

  .bio {
    display: block;
    justify-content: center;
    width: 100%;
  }

  .card {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .card div {
    display: block;
    justify-content: center;
    width: 100%;
  }

  .card p {
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin: 0 auto;
  }

  .david img {
    display: block;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .iconlist {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }

  .icon {
    height: 110px;
    width: 110px;
  }

  .houston {
    opacity: 0;
    position: fixed;
  }

  .tiles1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    left: 0;
  }

  .container3 {
    display: block;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px auto;
  }

  .card3 {
    display: block;
    justify-content: center;
    width: 95%;
    margin: 20px auto;
  }

  .container4 {
    display: block;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: 15px auto;
  }

  .container4 form {
    width: 100%;
  }

  .contact-form {
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
  }

  form {
    display: flex;
    width: 100%;
  }

  .form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
  }

  .iconlist2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }

  .icon5 {
    width: 50px;
    height: 50px;
  }

  .btn {
    display: flex;
    justify-content: center;
    margin: 5px auto;
  }

  .tiles2 a {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
  }

  .reachout h2 {
    margin: 20px auto;
    position: relative;
    top: 10px;
  }

  .form-group input {
    margin: 10px auto;
    width: 80%;
  }

  .navbar {
    padding: 0;
  }
  /* Responsive Navbar START */

  .renav2 button {
    display: flex;
    margin: 20px;
    position: relative;
    left: 18px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: x-large;
  }

  .renav .links{
    display: none;
  }

  .renav .links a {
    margin-top: -250px;
  }

  .renav #hidden {
    position: absolute;
    left: 0px;
    top: 90px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
  }

  .renav2 {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    height: 45px;
  }

  .header {
    position: relative;
    top: -8px;
  }

  .baseball {
    width: 25px;
    height: 25px;
    animation: baseball 7s ease-in-out, spin 2.5s linear;
    animation-iteration-count: infinite;
    margin: 4px;
  }
  /* Responsive Navbar END */
}

@keyframes baseball {
  
  /* Baseball Animation START */
  0%   {left:3vw; top:0px;}
  50%  {left:92vw; top:0px;}
  100% {left:3vw; top:0px;}
  /* Baseball Animation END */
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}